@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

.wrapEpisode {
    height: 115px;
    width: 250px;
    margin: 10px 70px 50px 70px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    color: rgba(255, 255, 255, 0.67);
    padding-top: 10px;
}
.button{
    position: relative;
    bottom: 5px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0.44);
    color: white;
    font-family: 'Teko', sans-serif;
    width: 100px;
    font-size: 14px;
}
.button:hover{
    background: rgba(255, 255, 255, 0.47);
    color: black;
}
.button > a {
    text-decoration: none;
    color: #dcdcdc;
}