@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Saira+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Teko:wght@300&display=swap');

.formElement > input{
    width: 270px;
    height: 20px;
    border-radius: 30px;
    font-size: 13px;
    background: rgba(72, 72, 72, 0.43);
    border: 0.5px solid rgba(255, 255, 255, 0.26);
    color: white;
    font-family: 'Inconsolata', monospace;
    font-family: 'Saira Condensed', sans-serif;
    transition: 2s;
    padding-left: 15px;
}
.formElement >  input:hover{
    transition: 2s;
    width: 320px;
    height: 30px;
    font-size: 18px;
    color: black;
    background: rgba(255, 255, 255, 0.18);
    padding-left: 30px;
}
.formElement > button {
    border-radius: 20px;
    margin: 0 0 0 15px;
;}
.formElement > button:hover{
    color: white;
}
.submitInput{
    height: 20px;
    width: 40px;
}
.submit > input{
    cursor: pointer;
    border: none;
    margin: 0 0 0 5px;
    border-radius: 50px;
    height: 25px;
    width: 50px;
    font-size: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.66);
    color: rgba(255, 255, 255, 0.9);
    transition: 2s;
}
.submit > input:hover{
    height: 25px;
    width: 100px;
    transition: 2s;
    background: rgba(220, 220, 220, 0.39);
    color: black;
    font-size: 14px;
}
.errorForm{
    margin-bottom: 5px;
    color: rgba(255, 0, 0, 0.58);
    font-size: 12px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Saira Condensed', sans-serif;
    transition: 2s;
}
.formElement{
    display: flex;
}

