.wrap{
  display: flex;
  gap: 100px;
  justify-content: space-around;
  width: 100%;
}
.countsList{
  margin: 5px 0;
  text-align: center;
}
.count{
  font-family: "Yu Gothic UI Light";
  font-size: 24px;
}